<gravatar-image id="gravatar" email="mikhuttu@cs.helsinki.fi" size="25"></gravatar-image>
<canvas id="canvas3" actionmap assignments="assignments" students="students"></canvas>

<!--<h2>Course: <i>{{ course.name }}</i></h2>
<button ng-click="goToNormalMap()"> Go to normal map </button>
<h3>Students</h3>

<div>
    <table>
        <tr ng-repeat="p in students">
            <td> {{ p.firstName }}</td>
            <td> {{ p.lastName }}</td>
            <td> {{ p.id }}</td>
        </tr>
    </table>
</div><-->

<!--<div id="actionMapElements" style="position: relative">
    <div ng-repeat="assignment in assignments">
        <button ng-mouseover="showDependencies(assignment)" ng-mouseleave="hideDependencies(assignment)"
                class="button action-button"
                style="top:{{assignment.location.y - 25}}px; left:{{assignment.location.x - 25}}px">{{ assignment.number
            }}
        </button>

        <div ng-repeat="student in assignment.latestDoers">
            <button class="student-button" ng-style="locationOfStudentInMap(student, assignment)">{{ student.id }}</button>
        </div>

    </div>
</div>-->