<link rel="stylesheet" type="text/css" href="assets/navigation_bar.css">
<link rel="stylesheet" type="text/css" href="assets/canvas.css">
<link rel="stylesheet" type="text/css" href="assets/original_canvas_buttons.css">
<link rel="stylesheet" type="text/css" href="assets/course_new.css">

<div class="container">
	<h2>Luo uusi kurssi</h2>

	<form name="createCourseForm">

		<div class="col-xs-12">
			<label class="col-md-2 col-sm-3 col-xs-4">Kurssin nimi</label>

			<input class="col-md-2 col-sm-3 col-xs-3 col-sm-offset-0 col-xs-offset-1" name="courseName" type="text" ng-model="name" required minlength="2">
			<span class="col-md-7 col-sm-5 col-xs-3 col-sm-offset-0 col-xs-offset-1" ng-show="createCourseForm.courseName.$invalid && createCourseForm.courseName.$dirty">
				Kurssin nimi tulee olla väh. 2 merkkiä pitkä
			</span>
		</div>

		<div class="col-xs-12">
			<label class="col-md-2 col-sm-3 col-xs-4">Tehtävien lukumäärä</label>
			<input class="col-md-2 col-sm-3 col-xs-3 col-sm-offset-0 col-xs-offset-1" name="assignmentCount" type="number" ng-model="assignmentCount" ng-change="placeAssignmentButtonsOnCanvas()" required min="1" max="499">
			<span class="col-md-7 col-sm-5 col-xs-3 col-sm-offset-0 col-xs-offset-1" ng-show="createCourseForm.assignmentCount.$invalid && createCourseForm.assignmentCount.$dirty">
				Tehtäviä tulisi olla 1-499 kpl.
			</span>

			<div class="col-sm-5 col-sm-offset-2 col-md-6 col-md-offset-0">
				<button id="shuffle-button" class="btn-info" ng-click="placeAssignmentButtonsOnCanvas();">Generoi uusi kartta</button>
			</div>
		</div>

		<div id="mapElements" class="col-xs-12">

			<div ng-repeat="assignment in assignments">

				<button ng-mouseover="showDependencies(assignment)" ng-mouseleave="hideDependencies(assignment)" ng-if="!assignmentCompleted(assignment);" class="button undone-task" style="top:{{assignment.location.y - 25}}px; left:{{assignment.location.x - 5}}px">{{ assignment.number }}</button>
			</div>
		</div>

		<div class="col-xs-12">
			<button class="create-course-button" ng-disabled="buttonClicked || createCourseForm.$invalid" ng-click="createCourse();">Luo kurssi</button>
		</div>
	</form>
</div>
