<link rel="stylesheet" type="text/css" href="assets/navigation_bar.css">
<link rel="stylesheet" type="text/css" href="assets/canvas.css">
<link rel="stylesheet" type="text/css" href="assets/original_canvas_buttons.css">
<link rel="stylesheet" type="text/css" href="assets/course_edit.css">

<div class="container">

    <div class="row">
        <h2 class="name">{{ course.name }}</h2>
        
        <form name="editCourseForm">
            <h4 class="col-md-2 col-sm-3 col-xs-3 no-left-padding">Kurssin nimi</h4>

            <input class="col-md-2 col-sm-3 col-xs-3 col-sm-offset-0 col-xs-offset-1" name="courseName" type="text" ng-model="name" required minlength="2">

            <span class="col-md-3 col-sm-3 col-xs-4 col-sm-offset-0 col-xs-offset-1" ng-show="editCourseForm.courseName.$invalid && editCourseForm.courseName.$dirty">
                Kurssin nimi tulee olla väh. 2 merkkiä pitkä
            </span>

            <button class="btn btn-warning change-course-name col-md-2 col-sm-3 col-xs-4 col-sm-offset-1 col-xs-offset-8" ng-disabled="mutex || editCourseForm.$invalid" ng-click="editCourseName();">Vaihda nimeä</button>
        </form>
    </div>

    <div class="row">
        <h4 class="title-top-margin">Tehtävät</h4>

        <ul>
            <li ng-repeat='assignment in assignments'>
                <a href="" ng-click="editAssignmentModal(assignment)" ng-disabled="mutex" data-toggle="modal" href="#myModal">{{ assignment.number }}.  {{ assignment.name }}</a>
            </li>
        </ul>

        <button class="btn btn-primary" ng-disabled="mutex" ng-click='newAssignmentModal();'>Lisää tehtävä</button>

        <h4 class="title-top-margin">Opiskelijat</h4>

        <ul>
            <li ng-repeat="student in students">
                <a href="" ng-click="editStudentModal(student);">{{ student.firstName }} {{ student.lastName }}</a>
            </li>
        </ul>

        <button class="btn btn-success" ng-disabled="mutex" ng-click='newStudentModal();'>Lisää opiskelija</button>
    </div>

    <h4>Kurssikartta</h4>

    <div id="mapElements" class="col-xs-12">

        <div ng-repeat="assignment in assignments">

            <button ng-mouseover="showDependencies(assignment)" ng-mouseleave="hideDependencies(assignment)" ng-if="!assignmentCompleted(assignment);" class="button undone-task" style="top:{{assignment.location.y - 25}}px; left:{{assignment.location.x - 5}}px">{{ assignment.number }}</button>
        </div>
    </div>
</div>