<div class="container">
  <h2 class="my-courses">Omat kurssini</h2>

	<table class="table table-hover">
  	<thead>
    	<tr>
      		<th class="action-map">Action kartta</th>
      		<th class="edit-course">Editointinäkymä<th>
    	</tr>
  	</thead>

  	<tbody ng-repeat="course in teacher.courses">
  		<tr class="listing-own-courses">
  			<td><a ng-click="moveToCourseActionMap(course)">{{ course.name }}</a></td>
  			<td><button class="btn btn-success" ng-click="moveToEditCourseView(course)">Editoi</button></td>
  		</tr>
  	</tbody>
  </table>

  <button class="btn btn-info new-course-btn" ng-click="createNewCourse()">Luo uusi kurssi</button>
</div>