<div class="small-left-margin">
    <h2>Edit course {{ course.name }}</h2>
</div>

<div>

    <form name="editCourseForm">
        <div class="col-xs-12">
            <label class="col-md-2 col-sm-3 col-xs-4">Course name</label>

            <input class="col-md-2 col-sm-3 col-xs-3 col-sm-offset-0 col-xs-offset-1" name="courseName" type="text" ng-model="name" required minlength="2" value="course.name">

            <span class="col-md-3 col-sm-3 col-xs-3 col-sm-offset-0 col-xs-offset-1" ng-show="editCourseForm.courseName.$invalid && editCourseForm.courseName.$dirty">
                Course name should have at least 2 characters
            </span>

            <button class="change-course-name col-md-3 col-sm-3 col-xs-12 col-xs-offset-1" ng-disabled="editCourseForm.$invalid" ng-click="editCourseName();">Change name</button>
        </div>
    </form>

    <div class="col-xs-12">
        <div class="col-xs-5">
            <label class="col-md-2 col-sm-3 col-xs-4">Participants</label>

            <ol>
                <section id="participants" class="col-xs-12">
                    <li ng-repeat="p in participants">
            
                        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-4">{{ p.firstName }}</div>
                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 col-xs-offset-0">{{ p.lastName }}</div>

                        <button class"col-lg-1 col-md-1 col-sm-2 col-xs-4 col-xs-offset-0" ng-click="deleteParticipant(p);">Delete</button>
                    </li>
                </section>
            </ol>
        </div>

        <div class="col-xs-5 col-xs-offset-1">
            <ol>
                <li ng-repeat="user in allUsers">
                    {{ user.firstName }} {{ user.lastName }} <button ng-click='addParticipant(user);'>Add to course</button>
                </li>
            </ol>
        </div>
    </div>

    <div class="col-xs-12">
        <label class="col-md-2 col-sm-3 col-xs-4">Assignments</label>

        <button ng-click='addAssignment();'>Add a new assignment</button>
        <div ng-repeat='assignment in assignments'>
            Id: {{ assignment.id }}, Number: {{ assignment.number }}
            <button ng-click='deleteAssignment(assignment.id);'>Delete</button>
        </div>
    </div>
</div>