
<div class="small-left-margin">
	<h2>Create a new course</h2>

	<form name="createCourseForm">
		
		<div class="col-xs-12">
			<label class="col-md-2 col-sm-3 col-xs-4">Course name</label>
				
			<input class="col-md-2 col-sm-3 col-xs-3 col-sm-offset-0 col-xs-offset-1" name="courseName" type="text" ng-model="name" required minlength="2">
			<span class="col-md-7 col-sm-5 col-xs-3 col-sm-offset-0 col-xs-offset-1" ng-show="createCourseForm.courseName.$invalid && createCourseForm.courseName.$dirty">
				Course name should have at least 2 characters
			</span>
		</div>

		<div class="col-xs-12">
			<label class="col-md-2 col-sm-3 col-xs-4"> Assigments </label>
			<input class="col-md-2 col-sm-3 col-xs-3 col-sm-offset-0 col-xs-offset-1" name="assignmentCount" type="number" ng-model="assignmentCount" required min="1" max="500">
			<span class="col-md-7 col-sm-5 col-xs-3 col-sm-offset-0 col-xs-offset-1" ng-show="createCourseForm.assignmentCount.$invalid && createCourseForm.assignmentCount.$dirty">
				Number should be between 1-500
			</span>
		</div>

		<div class="col-xs-12">
			<label class="col-md-2 col-sm-3 col-xs-4"> Participants </label>

			<tr ng-repeat="p in participants">
				<td> {{ p.firstName }}</td>
				<td> {{ p.lastName }}</td>
			</tr>
		</div>

		<div class="col-xs-12">

			<section>
    			<label>First name: <input ng-model="search.firstName" /></label> <br>
    			<label>Last name: <input ng-model="search.lastName" /></label>
			</section>

			<section id="resultview">
       			<ul>  
            		<li ng-repeat="user in allUsers | filter:search:strict">
            			<p> {{ user.firstName }}
            			<p> {{ user.lastName }}
            		</li>  
        		</ul>  

			</section>

		</div> 
	
		<div class="col-xs-12">
			<button class="create-course-button" ng-disabled="createCourseForm.$invalid" ng-click="createCourse();">Submit</button>
		</div>
	</form>
</div>