<p>map.html:n osio alkaa</p>

<h2>Course: {{ course }}</h2>

<h3>Assignments</h3>

<div ng-repeat="assignment in assignments">
  {{ assignment }}
</div>

<h3>Participants</h3>

<div ng-repeat="participant in participants">
  {{ participant }}
</div>

<h3>LocationsZZZ</h3>

<div ng-repeat="location in locations">
  {{ location }}
</div>

<button ng-click="addStudent(course)">Add user to course</button>

<div id="mapElements" style="position: relative">
  <canvas id="canvas" width="1000" height="1000" ></canvas>
</div>