<p id="errorMsg"></p>

<h2>Course: <i>{{ course.name }}</i></h2>

<h3>Participants</h3>

<div>
    <table>
        <tr ng-repeat="p in participants">
            <td> {{ p.firstName }}</td>
            <td> {{ p.lastName }}</td>
        </tr>
    </table>
</div>
<div>
    <table>
        <tr ng-repeat="a in assignments">
            <br>
            <td> {{ a.number }}</td>
            <td> {{ a.dependencies}}</td>
        </tr>
    </table>
</div>

<br>

<button ng-click="moveToCourseCreationView()">Create a new course</button>
<button ng-click="moveToCourseEditView()">Edit course</button>

<p>Current user: <strong>{{ currentUser.firstName }} {{ currentUser.lastName }}</strong>

<p>View the map as student:</p>

<select ng-model="participant" ng-change="viewAsStudent(participant)"
        ng-options="participant as (participant.firstName + ' ' + participant.lastName) for participant in  participants"></select>

<div id="mapElements" style="position: relative">

    <div ng-repeat="assignment in assignments">
        <button ng-dblclick="return false;" ng-disabled="buttonClicked" ng-mouseover="showDependencies(assignment)"
                ng-mouseleave="hideDependencies(assignment)" ng-if="!assignmentCompleted(assignment);"
                ng-click="markAssignmentAsDone(assignment)" class="button undone-task"
                style="top:{{assignment.location.y -25}}px; left:{{assignment.location.x -25}}px">{{ assignment.number}}
        </button>
        <button ng-dblclick="return false;" ng-disabled="buttonClicked" ng-mouseover="showDependencies(assignment)"
                ng-mouseleave="hideDependencies(assignment)" ng-if="assignmentCompleted(assignment);"
                ng-click="markAssignmentAsUndone(assignment)" class="button done-task"
                style="top:{{assignment.location.y -25}}px; left:{{assignment.location.x -25}}px">{{ assignment.number}}
        </button>

    </div>
</div>

<div id="actionMapElements" style="position: relative">
    <div ng-repeat="assignment in assignments">
        <button ng-mouseover="showDependencies(assignment)" ng-mouseleave="hideDependencies(assignment)"
                class="button action-button"
                style="top:{{assignment.location.y -25}}px; left:{{assignment.location.x -25}}px">{{ assignment.number
            }}
        </button>
    </div>

    <div ng-repeat="student in studentsOnMap">
        <button class="student-button" style="top:{{student.y - 50}}px; left:{{student.x}}px">{{student.id}}</button>
    </div>
</div>