<p id="errorMsg"></p>

<h2>Course: <i>{{ course.name }}</i> </h2>

<h3>Participants</h3>

<div ng-repeat="participant in participants">
  {{ participant }}
</div>

<br>

<button ng-click="addStudent()">Add user to course</button>

<a href="#/new_course">Create a new course</a>


<p>Current user: <strong>{{ current_user }}</strong>

<p>View the map as student:</p>

<select ng-model="participant" ng-change="viewAsStudent(participant)" ng-options="participant.id as participant.id for participant in  participants"></select>

<div id="mapElements" style="position: relative">

	<div ng-repeat="assignment in assignments">
		<button ng-if="!assignmentCompleted(assignment.id);" class="button undone-task" style="top:{{assignment.location.y -25}}px; left:{{assignment.location.x -25}}px">{{ assignment.number }}</button>
		<button ng-if="assignmentCompleted(assignment.id);" class="button done-task" style="top:{{assignment.location.y -25}}px; left:{{assignment.location.x -25}}px">{{ assignment.number }}</button>

		<label class="amount-of-doers" style="top:{{assignment.location.y + 5}}px; left:{{assignment.location.x + 25}}px">{{assignment.doers.length}}</label>
	</div>
</div>
