<h2 class="small-left-margin">Create a new course</h2>

<form name="createCourseForm">
	<div>
		<label> Course name </label>
		<input name="courseName" type="text" ng-model="name" required minlength="2">
		<span ng-show="createCourseForm.courseName.$invalid && createCourseForm.courseName.$touched">
			Course name should have atleast 2 characters
		</span>
	</div>

	<div>
		<label> Assigments </label>
		<input name="assignmentCount" type="number" ng-model="assignmentCount" required min="1" max="500">
		<span ng-show="createCourseForm.assignmentCount.$invalid && createCourseForm.assignmentCount.$touched">
			Number should be between 1-500
		</span>
	</div>
	
	<div>
		<button class="create-course-button" ng-disabled="createCourseForm.$invalid" ng-click="createCourse();">Submit</button>		
	</div>
</form>
