<link rel="stylesheet" type="text/css" href="assets/navigation_bar.css">

<div class="container">
	<h2>Tietoa opettajalle</h2>
	
	<p>Progress visualization map on työkalu opiskelijoiden edistymisen seurantaan ja kurssin sisällön visualisointiin. 
		Tarkoituksena on motivoida opiskelijoita antamalla heidän edistymisestään konkreettista visuaalista palautetta. 

		Opettajana voit kirjautua sisään Google-tunnuksellasi, ja pääset luomaan uusia kursseja Omat kurssit -sivulla. Samalla sivulla näet listan kaikista luomistasi kursseista, ja voit muokata niiden sisältöä. </p>

</div>