<link rel="stylesheet" type="text/css" href="assets/modal.css">
<link rel="stylesheet" type="text/css" href="assets/assignment_modal.css">

<div class="modal-header">

	<h3 class="modal-title">{{ original_name }} 
		<span class="pull-right">
			<img id="cancel-img" src="http://findicons.com/files/icons/2146/realistik_reloaded/128/stop.png" ng-click="back()"></img>
		</span>
	</h3>
</div>

<form name="assignmentForm">

	<div class="modal-body">

		<div class="col-xs-12">
			<label class="col-xs-3">Nimi</label>
			<input type="text" ng-model="new_name" required minlength="2">
		</div>

		<div class="col-xs-12">
			<label class="col-xs-3">Numero</label>
			
			<input type="number" ng-model="new_number" disabled>
		</div>

		<div class="col-xs-12">
			<label class="col-xs-3">Esitiedot</label>
			
			<div id="dependencies" class="col-xs-12">

				<ul ng-repeat="a in assignments">
					<li>{{ a.number}} <input type="checkbox" ng-checked="originalDependency(a)" ng-disabled="disabledDependency(a)"></input></li>
				</ul>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<div class="col-xs-12">
			<button ng-if="new_record" class="btn btn-success" ng-disabled="assignmentForm.$invalid" ng-click="submitData();">Luo tehtävä</button>

			<button ng-if="! new_record" class="btn btn-info" ng-disabled="assignmentForm.$invalid" ng-click="submitData();">Tallenna muutokset</button>

			<div ng-if="! new_record" class="col-xs-12 delete-margin-top">
				<p>Jos haluat poistaa tämän tehtävän, vahvista poisto kirjoittamalla seuraavaan tekstikenttään tehtävän nimi.</p>
				<input type="text" ng-model="$parent.confirmation">

				<button class="btn btn-danger" ng-disabled="confirmDelete();" ng-click="deleteAssignment();">Poista tehtävä</button>
			</div>
		</div>
	</div>
</form>