<link rel="stylesheet" type="text/css" href="assets/modal.css">
<link rel="stylesheet" type="text/css" href="assets/assignment_modal.css">

<div class="modal-header">

	<h3 class="modal-title">{{ assignment.name }} 
		<span class="pull-right">
			<img id="cancel-img" src="http://findicons.com/files/icons/2146/realistik_reloaded/128/stop.png" ng-click="back()"></img>
		</span>
	</h3>
</div>

<form name="editAssignmentForm">

	<div class="modal-body">

		<div class="col-xs-12">
			<label class="col-xs-3">Nimi</label>
			<input type="text" value="{{ assignment.name }}" required minlength="2">
		</div>

		<div class="col-xs-12">
			<label class="col-xs-3">Numero</label>
			
			<input type="number" value="{{ assignment.number }}" min="1">
		</div>

		<div class="col-xs-12">
			<label class="col-xs-3">Esitiedot</label>
			
			<div id="dependencies" class="col-xs-12">

				<ul ng-repeat="a in assignments">
					<tr>
						{{ a.number}} <input type="checkbox" ng-checked="originalDependency(a)"></input>
					</tr>
				</ul>
			</div>
		</div>
	</div>

	<div class="modal-footer">
		<div class="col-xs-12">
			<button class="btn btn-success" ng-disabled="editAssignmentForm.$invalid" ng-click="editAssignment();">Muokkaa tehtävää</button>

			<span id="error-notice"></span>
		</div>
	</div>
</form>