<link rel="stylesheet" type="text/css" href="assets/modal.css">

<div class="modal-header">

	<h3 class="modal-title">{{ assignment.name }} 
		<span class="pull-right">
			<img id="cancel-img" src="http://findicons.com/files/icons/2146/realistik_reloaded/128/stop.png" ng-click="back()"></img>
		</span>
	</h3>
</div>

<form name="editAssignmentForm">

	<div class="modal-body">

		<div class="col-xs-12">
			<label class="col-xs-3">Nimi</label>
			<input name="assignmentName" type="text" ng-model="new_name" required minlength="2">
		</div>

		<div class="col-xs-12">
			<label class="col-xs-3">Numero</label>
			
			<input type="number" min="1" ng-model="new_number">
		</div>
	</div>

	<div class="modal-footer">
		<div class="col-xs-12">
			<button class="btn btn-success" ng-disabled="editAssignmentForm.$invalid" ng-click="editAssignment();">Muokkaa tehtävää</button>

			<span id="error-notice"></span>
		</div>
	</div>
</form>