<link rel="stylesheet" type="text/css" href="assets/modal.css">

<div class="modal-header">

    <h3 class="modal-title">{{ original_name }}
		<span class="pull-right">
			<img id="cancel-img" src="http://findicons.com/files/icons/2146/realistik_reloaded/128/stop.png" ng-click="back()"></img>
		</span>
    </h3>
</div>

<form name="studentForm">

    <div class="modal-body">

        <div class="col-xs-12">
            <label class="col-xs-3">Etunimi</label>
            <input type="text" ng-model="new_first_name" required minlength="2">
        </div>

        <div class="col-xs-12">
            <label class="col-xs-3">Sukunimi</label>
            <input type="text" ng-model="new_last_name" required minlength="2">
        </div>

        <div class="col-xs-12">
            <label class="col-xs-3">Email</label>
            <input type="text" ng-model="new_email">
        </div>
    </div>

    <div class="modal-footer">
        <div class="col-xs-12">
            <button ng-if="new_record" class="btn btn-success" ng-disabled="studentForm.$invalid" ng-click="submitData();">Luo opiskelija</button>

            <button ng-if="! new_record" class="btn btn-info" ng-disabled="studentForm.$invalid" ng-click="submitData();">Tallenna muutokset</button>
        </div>
    </div>
</form>