<h1>Summary of completed assignments</h1>

<table>
  <thead>
  <tr>
   <th>Student number</th>
   <th>Completed assigments</th>
  </tr>
  </thead>
  
  <tbody>
  <% @course.participants.each do |participant| %>
    <tr>
      <td><%= participant.id %></td>
      <td><%= participant.completed_assignments(@course) %></td>
    </tr>
  <% end %>
  </tbody>
</table>