.name {
	font-style: italic;
	color: blue;
}

.token {
	margin-top: 10px;
	margin-bottom: 10px;
	font-size: 8pt;
}

.no-left-padding {
	padding-left: 0px;
}

.small-top-margin {
	margin-top: 8px; 
}

.small-left-margin {
	margin-left: 8px;
}

.title-top-margin {
	margin-top: 20px;
}