canvas {
    background: rgba(30, 85, 205, 0.50);
}

#mapElements {
	position: relative;
	margin-top: 20px;
	margin-bottom: 20px;
}

#shuffle-button {
	display: none;
	text-align: center;
}

.small-top-margin {
	margin-top: 8px; 
}

.small-left-margin {
	margin-left: 8px;
}

h2 {
	font-size: 24px;
}

fieldset {
	margin-top: 18px;
}

li {
    list-style-type: none;
}

.create-course-button {
	background-color: #2EB92A;
	display: block;
	width: 120px;
	height: 35px;
	text-align: center;
	border-radius: 20px;
	margin-top: 10px;
	cursor: pointer;
	color: #fff;

	font-size: 14px;

	outline: none; /* no focus when clicked */

	border-style: solid;
	border-width: 2px;
	border-color: rgba(43, 110, 59, 0.35);
}

button[disabled] {
    background-color: #d3d3d3 !important;
}

.info-message {
	color: blue;
}


a:hover {
    text-decoration: none;
}