<!DOCTYPE html>
<html>
<head>
 	<title>ProgressMap</title>
 	<%= stylesheet_link_tag    'application', media: 'all' %>
 	<%= javascript_include_tag 'application' %>
 	<%= csrf_meta_tags %>

    <meta charset="utf-8">

    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="82787103942-3sas1raad518muve5kbojjoh1jrb0f8p.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>

<body ng-app="ProgressApp" ng-controller="ApplicationController">

	<div ng-view></div>

	<!-- Muuttujat laitettava ' ' -sisälle sen sijaan että käyttäisi "" -merkkejä. -->

	<!-- <script src="assets/javascripts/controllers/MainController.js"></script>
	<script src="assets/javascripts/controllers/MapController.js"></script> -->

	<!-- Jos script src rivit tarvitaan ja ne eivät ole aakkosjärjestyksessä, testaa fiksaako se ongelman "ProgressApp" not defined -->

	<!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
	-->
         <!-- <script src="vendor/assets/bower_components/angular/angular.min.js"></script>
	 <script src="vendor/assets/bower_components/angular-route/angular-route.min.js"></script>
	 

	<script src="assets/javascripts/controllers/MainController.js"></script>
	<script src="assets/javascripts/controllers/MapController.js"></script>
	<script src="assets/javascripts/app.js"></script> -->
</body>
</html>
