<!DOCTYPE html>
<html>
<head>
 <title>ProgressMap</title>
 <%= stylesheet_link_tag    'application', media: 'all' %>
 <%= javascript_include_tag 'application' %>
 <%= csrf_meta_tags %>
</head>

<body ng-app="ProgressApp">
	<div ng-controller="MainController">
		<div>{{test}}</div>
	
		<div ng-repeat="item in lista">
 			{{item}}
 		</div>
	
		<div>{{message}}</div>
	
		<button ng-click="addPost('testi')">Test</button>
	</div>

	<div ng-view></div>

	<!-- <script src="assets/javascripts/controllers/MainController.js"></script>
	     <script src="assets/javascripts/controllers/MapController.js"></script> -->

	<!-- Jos script src rivit tarvitaan ja ne eivät ole aakkosjärjestyksessä, testaa fiksaako se ongelman "ProgressApp" not defined -->

</body>
</html>